@model IEnumerable<AdminSystem.Models.QuayHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách cửa hàng</h1>

<p>
    <a asp-action="Create">Thêm cửa hàng mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Vị trí
            </th>
            <th>
                Người Quản Lý
            </th>
            <th>
                Thời gian tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiQuanLy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
